@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i);

/*    Reset CSS  */
* { margin:0;  padding:0;}
ul,li { list-style: none; }
a { outline:0; text-decoration:none; display: inline-block; color:#bbb;}
img { border:0; max-width: 100%;}
label, span, a{ display: inline-block;}
body{font-family:'Ubuntu', sans-serif; font-size: 18px;}
.text-overflow{text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.skip{font-size: 0; text-indent: -9999px; position: absolute; left:-9999px;}

/* 그린나래 color main : #adbe64; #828c3c; */
/* 그린나래 color sub : #8fa63b; #e3f177; #401910; #8c624a;
                       #6b7331; #dfdfac;
                       #8bc441; */
/* 그린나래 color sid : #FFFFE1; #E0E0AD; #FFFCCF; */

/*    layout  */
body{width: 100%;}
header{ position: fixed; width: 100%; height: 85px; background: #adbe64; z-index: 2;}
header .center{width: 1160px;  margin: 0 auto; height: 85px;}
header .center .header_rightbox{float: right;}
section{width: 100%; overflow: hidden;}
footer{position:fixed; bottom:0; width:100%; background:#adbe64; z-index:50; padding-top:6px;}
footer .center{width: 1170px; margin: 0 auto;}
#store{width:100%; height: 40px; background: #828c3c;}

/*   header  ==============================================================*/
#logo{display: inline-block; margin-top: 10px;}
#logo a{}
#logo img{width: 270px;}

/* header_1layer영역-------------------------------------------------- */
.header_1layer{position: relative; height: 40px;}
.util-nav{float: right;}
.util-nav div{float: left; margin-top: 5px; margin-left: 40px;}
.util-nav .joinlogin_move{margin-top: 3px;}
.util-nav #join{}
.util-nav #join a{font-weight: bold; color:#6b7331;}
.util-nav #join .mypage{background: #8ac441; color: #fff;
  padding-bottom: 6px; padding-left: 15px; padding-right: 15px;}
.util-nav #login{}
.util-nav #login a{font-weight: bold; color:#6b7331;}
/* 하위 히든메뉴 */
.toggle-area > a{float: right;}
.toggle-area i{font-size: 30px; color: #fff;}
.toggle-area ul{float: right; width: 0; height: 30px; overflow: hidden;}
.toggle-area ul li{float: left; margin: 0 6px;}
.toggle-area ul li img{width: 30px; max-width: initial;}
/* header_2layer 영역 ---------------------------------------------------*/
.header_2layer{float: right; position: relative;}
/* search_bar */
form {box-sizing: border-box;}
.search_bar {position: relative; float: left; width: 500px; background:#fff;
  border:#b7b7b7 solid 1px; border-radius:4px; margin-top: 5px;}
.search_bar input[type=text] {border:none; overflow:hidden; margin:0; padding:.5em;
  font-weight:600; font-size:14px;     padding-left: 15px;}
.search_bar input[type=text]:focus {outline: none;}
.search_bar button[type=submit] {position: absolute; width: 10%; min-width: 56px;
  top: -1px; right: -1px; bottom: -1px; margin: 0; background: #6b7332; user-select: none;
  color: rgba(255, 255, 255, 1); border-radius: 0 3px 3px 0; border: 1px solid #6b7332;}
.search_bar button[type=submit]:after {content: ''; position: absolute; top: 18%; bottom: 22%;
  left: 4%; right: 0; background-size:contain;}
.search_bar button[type=submit]:hover, .search_bar button[type=submit]:focus {
  cursor: pointer; background:#6b7332;}
.search_bar button i{font-size:20px; }
.search_bar .search_dropdown {position:absolute; top:0; left:0; bottom:0; min-width:17px;
  padding: 0 28px 0 13px; font-weight: 400; color:#6b7332; user-select:none;
  border-radius: 2px 0 0 2px; box-sizing:content-box; z-index:10000;}
.search_bar .search_dropdown:after {content: "\2193"; position:absolute; height:8px; width:10px;
  top:50%; right:10px; margin-top:-6px; color:rgba(85, 85, 85, 0);
  background:url("https://media.lib.byu.edu/assets/images/searchbar/1.0/down-arrow.svg")no-repeat top left;}
.search_bar .search_dropdown:hover, .search_bar .search_dropdown.active {
  border-right-color:#ccc; cursor: pointer; background:#fff;}
.search_bar .search_dropdown > span {position:absolute; top:50%; margin-top:-8px;
  font-size:15px; white-space: nowrap; line-height:17px;}
.search_bar .search_dropdown ul {display:none; position:absolute; width:225px; top:105%; left:-1px;
  padding:7px 0; font-size:14px; background:#fff; border: 1px solid #ccc; border-radius:3px;}
.search_bar .search_dropdown li {position:relative; padding: 5px 18px; margin:0; line-height:13px;
  list-style-type:none; color: #6b7332;}
.search_bar .search_dropdown li:hover {background: #e7e7e7;}
.search_bar .search_dropdown li.selected {background: #6b7332; color: #fff;}
.search_bar.small {max-width: 500px; line-height:13px;}
.search_bar.small input[type=text] {font-size: 13px;}
/* /search_bar */

/* 폰트어썸 메뉴/닫기 아이콘  */
.header_2layer .btn-menu{ margin-top: 4px; margin-left:19px;  width: 30px;}
.header_2layer a .fa-bars, .fa-times{font-size: 35px; color: #fff;}

/* 메뉴 버튼 누르면 나오는 하위메뉴 */
.header_2layer nav{
  display: none; background: #adbe64; width: 250px;
  position: absolute; right: 0;top: 45px;}
.header_2layer nav .menu_header{width: 250px; height: 40px; background: #8fa63b;}
.header_2layer nav .menu_header img{float: left; width: 22px;
  padding-top: 4px; padding-right: 15px; padding-left: 20px;}
.header_2layer nav .menu_header h2{color: #fff; line-height: 40px;
  font-size: 18px; font-weight: bold;}
.header_2layer nav #gnb-nav{padding: 10px 10px 0 10px;}
.header_2layer nav #gnb-nav li{}
/* 1depth */
.header_2layer nav #gnb-nav > li{margin-bottom: 10px;}
.header_2layer nav #gnb-nav > li > a{display: block; height: 30px;}
/* 공통 */
.header_2layer nav #gnb-nav li a{color: #fff; line-height: 30px;}
.header_2layer nav #gnb-nav li a span{float: left; background: #8fa63b; font-size: 15px;
  padding-left: 25px; font-weight: 600; width: 165px; margin-right: 10px; letter-spacing: 0.5px;}
.header_2layer nav #gnb-nav li a i{float: right; text-align: center;
  width: 30px; height: 30px; font-size: 30px; color: #adbe64; background: #8fa63b;}

.header_2layer nav #gnb-nav li .depth2{display: none; width: 100%; background:#e3f177;}
.header_2layer nav #gnb-nav li .depth2 li{}
.header_2layer nav #gnb-nav li .depth2 li a{color:#8fa63b; font-size:15px; font-weight:600; padding-left:25px;}

  /*section =============================================================================*/
/* 스와이퍼  */
.swiper-container{position: relative; width: 100%; height: 100vh;}
.swiper-slide{text-align: center; font-size: 18px; background: #fff;}
.main-content .swiper-container .swiper-wrapper .swiper-slide{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;}
/* Image Map Generator */
.main-content .swiper-container .swiper-wrapper .swiper-slide.layer1 > img{
  position: absolute; left: 50%; transform: translateX(-50%); bottom: 119px;
}
.main-content .swiper-container .swiper-wrapper .swiper-slide.layer1{
background-image:url(../img/bg_main_1page.gif);}
.main-content .swiper-container .swiper-wrapper .swiper-slide.layer2{
  background-image:url(../img/bg_main_2page.gif);}
.main-content .swiper-container .swiper-wrapper .swiper-slide.layer3{
  background-image:url(../img/bg_main_3page.gif);}
.main-content .swiper-container .swiper-wrapper .swiper-slide.layer4{
  background-image:url(../img/bg_main_4-1page.gif);}
  /* swiper-pagination+자제제작 아이콘 */
.swiper_wrap{position: absolute; z-index: 10;
  width: 1160px; left: 50%; top: 50%; transform: translate(-50%,-50%)}
  /* swiper-pagination */
.swiper-container .swiper-pagination{width: 10px;
  transform: translateY(-50%); text-align: center;}
.swiper-container-vertical>.swiper-pagination-bullets{
  right: 0; top: 40%; left: 15%;}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 10px 0;}
.swiper-pagination-bullet {width: 20px; height: 20px; background: #fff; opacity:1; margin: 5px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);}
.swiper-pagination-bullet-active {background: #828c3c; opacity:1;}
/* 자제제작 아이콘 모음 */
.g_icon{position: absolute; width: 70px; right: 0; top: 50%; transform: translateY(-50%); z-index: 2;}
.g_icon a{background:#fff; border-radius:50px;
    width:75px; height:75px; text-align:center;}
.g_icon img{width: 70px;  padding-top: 2px;}
/* 스와이퍼 첫페이지 여자 이미지에 호버시 나타나는 말풍선 */
.swiper-wrapper .speech_bubble{                             }
.swiper-wrapper .speech_bubble a{
  display: none;
  position: absolute;
  width: 200px; height: 120px;
  background: #6b7331; color: #dfdfac;
  border-radius: 50%; font-size: 30px; letter-spacing: -3px;
  text-align: center; line-height: 120px;}
.swiper-wrapper .speech_bubble .bubble1{
  bottom: 470px; left: 50%; transform: translateX(-270px);
}
.swiper-wrapper .speech_bubble .bubble1 img{
  position: absolute; bottom: -25px; right: 30px;
  width: 30px; height: 40px; transform: rotate(-30deg);
}
.swiper-wrapper .speech_bubble .bubble2{
  bottom: 360px; left: 50%; transform: translateX(50px);
}
.swiper-wrapper .speech_bubble .bubble2 img{
  left: 0; bottom: 4px; position: absolute;
  width: 30px; height: 40px; transform: rotate(41deg);
}
.swiper-wrapper .speech_bubble .bubble3{
  bottom: 240px; left: 50%; transform: translateX(200px);
}
.swiper-wrapper .speech_bubble .bubble3 img{
  left: 0; bottom: 0; position: absolute;
  width: 30px; height: 40px; transform: rotate(43deg);}
.swiper-wrapper .speech_bubble .bubble4{
  bottom: 250px; left: 50%; transform: translateX(-330px);
}
.swiper-wrapper .speech_bubble .bubble4 img{
  right: 0; bottom: 0; position: absolute;
  width: 30px; height: 40px; transform: rotate(-58deg);}



/*footer =============================================================================*/
/* 로고/주소 */
footer .center .address{float: left; color:rgba(130,140,60,0.8);}
footer .center .address .address-img img{width: 25px;}
footer .center .address .address-sub{}
footer .center .address .address-sub h2{float: left; font-size: 18px;}
footer .center .address .address-sub p{font-size: 12px; padding-top: 11px; line-height: 14px;}
/* sns 버튼모음 */
.middle{float:left; padding-left:130px; font-size:25px;}
.middle .address_sns{}
.middle .address_sns li{float: left; width: 62px; text-align: center;}
.middle .address_sns li a{}
.middle .address_sns li i{height: 25px; color: #fff; padding-top: 5px;}
/* 사이트정보 */
.middle .site-info{}
.middle .site-info li{float:left; font-size:12px; padding:12px;}
.middle .site-info li a{color: #fff; opacity: 0.6;}
/* 매장지도 */
footer .center .map{float: right;}
footer .center .map a{}
footer .center .map img{height: 65px;}
/* 쇼핑몰이동버튼 */
#store{border: 0; cursor: pointer;}
#store span{font-weight:700; color:#fff; line-height: 40px; margin: 0 100px;}
#store span:nth-child(1){font-size:24px; letter-spacing:12px;}
#store span:nth-child(2){font-size:18px; letter-spacing:14px;
    background: #adbe64; border-radius: 8px;
    width: 300px; padding:0 50px; margin-bottom: 10px;
    vertical-align: middle; line-height: 30px;}

/* 팝업 ===============================================================================*/
/*  팝업용 장막---------------------------------------------------------------*/
.black_bg{
  display: none;
  position: fixed; width: 100%; height: 100%;
  background: #0000007a; z-index: 51;}

/* 모든팝업 공통 -------------------------------------------------------------*/
input{text-indent: 10px;}
input:focus{outline: none;}
/* form input:focus::-webkit-input-placeholder{color: #fff;}
form input::-webkit-input-placeholder{color: #fff;} */



/* 로그인  팝업 ---------------------------------------------------------------*/
.container{
  display: none;
  position: fixed; z-index: 52;
  top: 50%; left: 50%; transform: translate(-50%,-50%);
  background-image: url(../img/background_join_login_page.png);
  width: 600px; height: 600px; text-align: center;}
.popup_wrap{position: absolute;
  top: 50%; left: 50%; transform: translate(-50%,-50%);
  background:#adbe64; width: 400px; height: 500px;}
   /* 닫기버튼 */
.popup_wrap > a{position: absolute; margin-top:5px; margin-right:5px; right: 0; z-index: 3;}
.popup_wrap > a i{font-size: 30px; padding-right: 10px;}
   /* 로고영역 */
.popup_wrap .text-center{position: relative; padding-top: 20px; margin-top: 10px;}
.popup_wrap .text-center img{width: 40px; height: 50px;
  position: absolute;  transform: translateX(-40%);}
.popup_wrap .text-center h2{font-size: 24px;
    color: #6b7331; padding-top: 20px; margin-bottom: 20px;}
   /* 입력란 */
#contact-form .form-label {
  opacity: 0;
	font-size: 12px; color: #6b7331; text-align: left;
	margin: 0; padding-left: 50px; padding-top: 10px;
	display: block;
	transition: .333s ease top, .333s ease opacity;}
#contact-form .form-control {
	border-radius: 0; border-color: #6b7331;  color: #fff;
 	border-width: 0 0 2px 0;
 	border-style: none none solid none;
 	box-shadow: none; background: none;
  width: 300px; margin-bottom: 20px; padding-bottom: 4px;}
#contact-form .form-control:focus {box-shadow: none; border-color: #6b7331;}
#contact-form input:focus::-webkit-input-placeholder{color: #dfdfac;}
#contact-form input::-webkit-input-placeholder{color: #6b7331;}
.js-hide-label {opacity: 1;}
.js-unhighlight-label {color: #dfdfac;}
   /* 아이디 패스워드 찾기 */
#contact-form .form-group a{color: #6b7331; font-size: 14px;}
#contact-form .form-group a p{border-bottom: 1px solid #6b7331;}
   /* 회원가입 로그인 버튼 */
.btn-start-order {  /* 로그인 버튼 */
  width: 170px; height: 50px;
	background: 0 0 #fffbcf; border: 1px solid #fffbcf; border-radius: 3px;
  margin-bottom: 20px; margin-top: 20px;
  color: #6b7331; font-size: 18px; font-weight: 400; line-height: inherit;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;}
#contact-form .text-center .two{   /* 회원가입 버튼 */
  background: 0 0 #6b7331; border: 1px solid #6b7331;
  color: #fffbcf; margin-right: 15px;}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
	border-color: #6b7331;   font-weight: bolder;}
   /* sns계정 로그인영역 */
#contact-form .form-group > p{font-size: 18px; color: #6b7331; margin-bottom: 20px;}
#contact-form .form-group .address_sns{}
#contact-form .form-group .address_sns li{float: left; width: 33%; text-align: center;}
#contact-form .form-group .address_sns li i{font-size: 33px; color: #fff;}
/* / 로그인  팝업 ---------------------------------------------------------------*/

/* 회원가입 팝업 -----------------------------------------------------------------*/
.signup-form{
  display: none;
  position: fixed;
  top: 50%; left: 50%; transform: translate(-50%,-50%);
  background-image: url(../img/background_join_login_page.png);
  width: 720px; height: 740px; z-index: 52;}
.signup_bg{
  position: absolute;
  top: 50%; left: 50%; transform: translate(-50%,-50%);
  width: 600px; height: 630px; background:#adbe64;
  box-shadow: 0 0 20px rgba(0,0,0,0.2),0 5px 5px rgba(0,0,0,0.2);}
    /* 닫기버튼 */
.signup_bg > a{position: absolute; margin-top:5px; margin-right:5px; right: 0; z-index: 3;}
.signup_bg > a i{font-size: 30px; padding-right: 10px;}
    /* 로고,문구 */
.text-center{position: relative; padding-top: 20px; margin-top: 10px;}
.text-center img{width: 40px; height: 50px;
  position: absolute;  left: 35%;}
.text-center h2{font-size: 24px; text-align: center; letter-spacing: 3px;
  color: #6b7331; padding-top: 20px; margin-bottom: 40px;}
    /* 폼 */
#signup_form{text-align: center;}
#signup_form label{position: absolute; font-size: 0;}
    /* input공통 */
#signup_form input{
  height:30px; margin: 0 0 30px; padding: 0 10px;
  border:0; box-sizing: border-box;
  font-size: 12px; font-weight: bold; color: #6b7331;}
#signup_form input:focus::-webkit-input-placeholder{color: #6b7331;}
#signup_form input::-webkit-input-placeholder{color: #6b7331;}
     /* 하위메뉴 클릭 아이콘 위치 */
#signup_form i{position: absolute; width: 30px; font-size:30px; right: 10%; color: #dfdfac;}
#signup_form .row:nth-of-type(1) i{top: 122px;}
#signup_form .row:nth-of-type(2) a:nth-child(3) i{top: 182px; left: 180px;}
#signup_form .row:nth-of-type(2) a:nth-child(6) i{top: 182px; right: 238px;}
#signup_form .row:nth-of-type(2) a:nth-child(9) i{top: 182px;}
#signup_form .row:nth-of-type(3) i{top: 242px; left: 150px; z-index: 3;}
    /* 각 input 세부사이즈 */
#signup_form #name2{width: 310px; float: left; margin-left: 60px;}
#signup_form #gender{width: 150px; float: right; margin-right: 60px;}
#signup_form #birth_year{width: 150px; float: left; margin-left: 60px;}
#signup_form #month{width: 140px;}
#signup_form #day{width: 150px; float: right; margin-right: 60px;}
#signup_form #mobile_service_provider{width: 120px; float: left; margin-left: 60px;}
#signup_form #mobile_phone_number{width: 190px;}
#signup_form button{
  width: 130px; height: 30px; line-height: 30px;
  background: #6b7331; color: #dfdfac;
  float: right; margin-right: 60px;}
#signup_form #double_check,#certification_number{border: 0;}
#signup_form #id2{width: 330px; float: left; margin-left: 60px;}
#signup_form #password2{width: 480px; float: left; margin-left: 60px;}
#signup_form #password_check{width: 480px; clear: both;}
#signup_form .find-info{font-size: 14px; color: #fff;}
#signup_form .line{width:420px; height:1px; background:#fff; margin:10px 0;transform:translateX(20%);}
#signup_form button#sign_up{
  width: 200px; height: 50px; line-height: 50px;
  font-size: 20px; font-weight: bold;
  float: unset; margin-right: 0; margin-top: 10px;
  border-right-color: #adbe64; border-bottom-color: #adbe64;
  border-left-color: #8fa63b; border-top-color: #8fa63b;}
/* / 회원가입 팝업 ----------------------------------------------------------------*/

/* 제작아이콘 팝업 --------------------------------------------------------------------------------------------- */
/* 공통 */
.consultation{
  display:none; width:400px; height:500px;
  position:fixed; z-index:51;
  background:#FFFCCF; border:10px solid #adbe64; box-sizing:border-box;
  top:50%; left:50%; transform:translateY(-50%);}
.consultation > a{position:absolute; right:0; margin:10px; z-index:1;}
.consultation > a i{font-size:30px; color:#adbe64;}
.consultation .text-center{margin-top: 20px;}
.consultation .text-center img{width:70px; height:70px;
  left: 50%; transform: translateX(-50%);}
.consultation .text-center h2{font-size:25px; color:#6b7331; padding-top:60px; margin-top:20px;}
.consultation .row label{font-size:18px; color:#6b7331; font-weight:bold;
  margin-left:20px; line-height:30px; letter-spacing:-1px;}
.consultation .row input{border:0; background:#adbe64; color:#6b7331; height:30px; line-height:30px; font-weight: bold;}
.consultation .find-info2{font-size:15px; color:#6b7331; font-weight: bold;
  text-align:center; line-height:15px;}
.consultation input[type=checkbox]{display: none;}
.consultation .find-info2 i{color:#c7c7c7; margin-left: 5px;}
.consultation .find-info2 input[type=checkbox]:checked +i{color:#6b7331;}
.consultation #Apply1,.consultation #Apply2,.consultation #Apply3{width:260px; height:30px; font-size:20px; color:#fff; line-height:20px;
  transform:translateX(25%); background:#6b7331;
  border-right-color: #adbe64; border-bottom-color: #adbe64;
  border-left-color: #8fa63b; border-top-color: #8fa63b;}

/* 전화상담 팝업--------------------------------------------------------------- */
.phone_consultation{}
.phone_consultation .text-center img{}
.phone_consultation .text-center h2{letter-spacing: -1px; margin-bottom: 30px;}
.phone_consultation #phone_consultation{}
#phone_consultation > .row{margin-bottom: 40px;}
#phone_consultation .row:nth-child(1) label{}
#phone_consultation .row:nth-child(1) #name3{
  width:260px; float:right; margin-right:20px;}
#phone_consultation .row:nth-child(2) label{float:left; margin-right:29px;}
#phone_consultation .row:nth-child(2) input{width:80px; height:30px;}
#phone_consultation .row:nth-child(2) #dialing{float: left;}
#phone_consultation .row:nth-child(2) #middle{float: initial; margin: 0 10px;}
#phone_consultation .row:nth-child(2) #last{float: right; margin-right: 20px;}
#phone_consultation .find-info2{margin-top: 100px;}
#phone_consultation .find-info2 input{margin-left: 10px; border-color:#6b7331;}
#phone_consultation #Apply{margin-top:10px;}
#phone_consultation input:focus::-webkit-input-placeholder{color: #fff;}
#phone_consultation input::-webkit-input-placeholder{color: #fff;}

/* 이메일상담 팝업--------------------------------------------------------------- */
.email_consultation .text-center{margin-top: 10px; padding-top:0;}
.email_consultation .text-center h2{padding-top:73px; margin-top:10px; letter-spacing: -1px;}
#email_consultation{}
#email_consultation > .row{margin-bottom: 20px;}
#email_consultation .row:nth-child(1) label{line-height: 30px;}
#email_consultation .row input{
  width:260px; height:30px;
  float:right; margin-right:20px; line-height: 30px;}
#email_consultation .row:nth-child(2) label{}
  /* 시안디자인과 다르나 @가 포함 되어 있어 하나로 대체가능 */
/* #email_consultation .row:nth-child(2) #email{
  width:260px; height:30px;
  float:right; margin-right:20px; line-height: 30px;} */
#email_consultation .row:nth-child(3) label{}
#email_consultation .row:nth-child(3) textarea{
  width:260px; height:120px; margin-right:20px; margin-bottom:5px; float:right;}
#email_consultation .find-info2{float: right; margin-right: 30px;}
#email_consultation #Apply{margin-top: 20px;}

/* 문자상담 팝업------------------------------------------------------------------*/
.sms_consultation .text-center{margin-top: 10px; padding-top:0;}
.sms_consultation .text-center h2{padding-top:73px; margin-top:10px; letter-spacing: -1px;}
#sms_form{}
#sms_form > .row{margin-bottom: 20px;}
#sms_form .row:nth-child(1) label{line-height: 30px;}
#sms_form .row #name5{
  width:260px; height:30px;
  float:right; margin-right:20px; line-height: 30px;}
#sms_form .row:nth-child(2) label{float:left; margin-right:29px;}
#sms_form .row:nth-child(2) input{width:80px; height:30px;}
#sms_form .row:nth-child(2) #dialing2{float: left;}
#sms_form .row:nth-child(2) #middle2{float: initial; margin: 0 10px;}
#sms_form .row:nth-child(2) #last2{float: right; margin-right: 20px;}
#sms_form .row textarea{
  width:260px; height:120px; margin-right:20px; margin-bottom:5px; float:right;}
#sms_form .find-info2{float: right; margin-right: 30px;}
#sms_form #Apply{margin-top: 20px;}
#sms_form input:focus::-webkit-input-placeholder{color: #fff;}
#sms_form input::-webkit-input-placeholder{color: #fff;}


/* 카톡상담 팝업------------------------------------------------------------------ */
.talk_consultation .text-center h2{letter-spacing: -1px;}
.talk_consultation .talk_box{text-align: center; margin-bottom: 35px;}
.talk_consultation .talk_box img{}
.talk_consultation .find-info2{margin-bottom: 10px;}
/* / 제작아이콘 팝업 --------------------------------------------------------------------------------- */

/* 지도 팝업------------------------------------------------------------------ */
.map_wrapper .talk_box{text-align: center;}
.map_wrapper{width: 500px; height: 600px; background: #adbe64;
    border: 10px solid #FFFCCF; transform: translate(-50%,-50%);}
.map_wrapper > a i{color: #fff;}

.map_wrapper .text-center{padding-top:0; margin-top:0;}
.map_wrapper .text-center img{width:45px; height:60px; left:25%;}
.map_wrapper .text-center h2{letter-spacing:-1px; padding-top:30px; margin-bottom:20px;}

.map_wrapper .map_box {}
.map_wrapper .map_box img{width: 90%;}
.Transportation{margin-top: 30px; margin-left: 7%;}
.Transportation span{float: left;}
.Transportation i{font-size: 40px; color: #fff;}
.Transportation .find-info2{display:inline-block;
  text-align:left; padding-left:20px; line-height:18px;}
.map_wrapper .car{}
.map_wrapper .car .find-info2{padding-top: 10px;}
.map_wrapper .train span{padding-left: 2px;}
.map_wrapper .bus{}











  /**/
